<div class="main__container">
  <aside class="app__sidebar">
    <h1>DAIRY APP</h1>
    <p>Comment with no sense</p>
  </aside>
  <div class="todo__container">
    <div class="todo__wrapper">
      <app-addform locationOfForm="items"></app-addform>
      <app-list-item locationOfForm="items"></app-list-item>
    </div>
    <div class="todo__wrapper">
      <app-list-item locationOfForm="comments"></app-list-item>
      <app-addform locationOfForm="comments"></app-addform>
    </div>
  </div>
</div>
