<form class="user-form" [formGroup]="itemForm" action="" (submit)="addItem()">
  <input
    *ngIf="locationOfForm === 'comments'"
    class="form-colorInput"
    type="color"
    placeholder="Enter username"
    formControlName="color"
    title="Please choose color"
  />
  <input
    formControlName="name"
    class="user-input"
    type="text"
    placeholder="Enter username"
    title="Please enter name"
  />
  <button
    [class.comments-add-button]="locationOfForm === 'comments'"
    [class.add-button]="locationOfForm === 'items'"
  >
    Add
  </button>

  <p
    class="error-message"
    *ngIf="
      itemForm.get('name')?.invalid &&
      (itemForm.get('name')?.dirty || itemForm.get('name')?.touched) &&
    !itemForm.errors?.['incorrectType']"
  >
    Name is required and must be at least 2 characters long!
  </p>
  <div *ngIf="itemForm.errors?.['incorrectType']" class="error-message">
    Invalid operation: cannot add a comment to an item.
  </div>
</form>
