<ul class="item-list">
  <ng-container *ngIf="locationOfForm === 'items'; else commentsTemplate">
    <li
      *ngFor="let item of items; let i = index"
      (click)="selectItem(i)"
      class="item"
      [class.active]="item.id === selectedItem?.id"
    >
      <p>{{ item.name }}</p>
      <span (click)="deleteItem(item.id)" class="item__delete_btn">X</span>
    </li>
  </ng-container>
  <ng-template #commentsTemplate>
    <li *ngFor="let comment of selectedItem?.comments" class="comment-item">
      <div
        [style.background-color]="comment.color"
        class="color__container"
      ></div>
      <p>{{ comment.name }}</p>
    </li>
  </ng-template>
</ul>
